.header{
	background: pink;
	padding: 50px;
	margin: auto;
	border: 40px turquoise solid;
	border-style: groove;
}
.sidebar{
	background: rgba(255,0,0,0.2);
	padding: 40px;
	margin: auto;
	border: 30px pink solid;
	border-style: inset;
}
.sidebar img{
	height:400px;
	width: 400px;}
.lmao{
	background: pink);
	padding: 50px;
	margin: auto;
	border: 50px turquoise solid;
	border-style: ridge;}
.lmao img{
	height: 300px;
	width: 300px;
	border-radius:50%;}
.main{
	background: rgba(0,255,0,0.3);
	padding: 40px;
	margin: auto;
	border: 30px aquamarine solid;
	border-style: outset;
	}
.main img{
	height: 200px;
	width: 200px;}
.bottom{
	background: rgba(0,0,255,0.3);
	padding: 40px;
	margin: auto;
	border: 30px pink solid;
	border-style: inset;
	height: 300px;
	
	 }
.bottom img{
	height: 250px;
	width: 250px;
	border-radius: 50%;}




